<div>
  {{#each this}}
  <section class="section">
    <div class="comment"> 
      {{comment_text}}
    </div>
    <div>
      {{user.username}} on {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>