<section>
  <h2 class="new-post">Create New Post</h2>

  <form class="new-post-form">
    <div class="new-post-content">
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="new-post-content"> 
      <label for="recipe">Content</label>
      <textarea name="recipe" id="recipe" cols="30" rows="10"></textarea>
   
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2 class="new-post">Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>