{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <h4>Add a comment</h4>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="comment-form btn">post</button>
    <button type="button" class="upvote btn">upvote</button>
  </div>
</form>

{{/if}}

<h5 class="comment-header"> Comments</h5>
{{> comments post.comments}}
  
{{#if loggedIn}}

<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}