.sidenav li>a {
    padding:0 32px !important}

.collapsible-body>ul>li>a {
    padding: 0 48px !important;
    font-weight: 400 !important;
}

/* header */
nav {
    background-color: #dd3a3a !important;
}
.logo {
    border: solid 3px #000000;
    height: 150px;
    width: auto;
}
.carousel .carousel-item>img{
    align-items: center;
}
img{
    float: right;
}
/* posts */
div .title{
    font-size: large;
}
/* Comments */
.comment-header{
    text-decoration: underline #dd3a3a;
    text-underline-offset: 5px
}
.comment {
    font-size: medium;
    font-weight: bold;
}
/* footer */
footer{
    background-color: #dd3a3a !important;
    text-align: center;
}

/* media queries */
@media (max-width: 480px) {
    h1, h2{
        text-align: center;
    }
    h2{
        font-size: small;
    }
    div .title{
        font-size: large;
    }
}


@media (max-width: 768px) {
    h2{
        text-align: center;
        font-size: small;
    }
    .carousel .carousel-item>img{
        align-items: center;
    }
}


@media (max-width: 1024px) {
    h1{
        text-align: center;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    h2{
        text-align: center;
        font-size: medium !important;
    } 
}